* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family:"Fira Sans",Helvetica,Arial,sans-serif; 
  }
  .mainContainer {
	margin: auto;
	padding: 30px;
  }
/*------------Navigation------------*/  
.container {
	/* max-width: 960px; */
	margin: auto;
	overflow: hidden;
	padding: 0 3rem;
  }
nav.sticky{
	background: #fff!important;
}

.nav-link.ncol{
	color: #555!important;
}

.navigation__item {
	font-size:.875em;
	font-family:"Fira Sans",Helvetica,Arial,sans-serif;
	text-decoration:none;
	line-height:34px;
	position:relative;
}


.navigation__item a {
	color: #555;
}

.navbar-line {
	border-bottom: 0.2px solid rgba(90, 85, 85, 0.87);
	width: 100%;
}

.navigation__item.active::after {	
	height:2px;
	opacity:1;
	visibility:visible  
}

.navigation__container ul{
	display:flex;
	margin:0
}

.navigation__container li{
	list-style:none;
	padding:0 35px;
	position:relative
}

.navigation__container li a {
	font-weight:400;
	padding:0;
	line-height:92px;
	text-decoration:none;
	font-size:.875em
}

.navigation__container li a::after{
	content:'';
	position:absolute;
	display:block;
	bottom:0;
	left:50%;
	width:80%;
	background:#9e9354;
	height:0;
	opacity:0;
	-webkit-transform:translateX(-50%);
	transform:translateX(-50%);
	visibility:hidden;
	-webkit-transition:all .25s ease-out;
	transition:all .25s ease-out
}

.navigation__container li a:hover::after{
	height:5px;
	opacity:1;
	visibility:visible
}
/*-----------------toggle menu----------------*/ 
/* 
  
.showcase-inner {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	height: 100%;
  } */
  
  /* .btn {
	display: inline-block;
	border: none;
	color: #fff;
	padding: 0.75rem 1.5rem;
	margin-top: 1rem;
	transition: opacity 1s ease-in-out;
	text-decoration: none;
  }
   */
  /* .btn:hover {
	opacity: 0.7;
  } */
  
  /* MENU STYLES */
  .menu-wrap {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
  }
  
  .menu-wrap .toggler {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	cursor: pointer;
	width: 50px;
	height: 50px;
	opacity: 0;
  }
  
  .menu-wrap .hamburger {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	width: 60px;
	height: 60px;
	padding: 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
  }
  
  /* Hamburger Line */
  .menu-wrap .hamburger > div {
	position: relative;
	flex: none;
	width: 100%;
	height: 2px;
	background: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.4s ease;
  }
  
  /* Hamburger Lines - Top & Bottom */
  .menu-wrap .hamburger > div::before,
  .menu-wrap .hamburger > div::after {
	content: '';
	position: absolute;
	z-index: 1;
	top: -10px;
	width: 100%;
	height: 2px;
	background: inherit;
  }
  
  /* Moves Line Down */
  .menu-wrap .hamburger > div::after {
	top: 10px;
  }
  
  /* Toggler Animation */
  .menu-wrap .toggler:checked + .hamburger > div {
	transform: rotate(135deg);
  }
  
  /* Turns Lines Into X */
  .menu-wrap .toggler:checked + .hamburger > div:before,
  .menu-wrap .toggler:checked + .hamburger > div:after {
	top: 0;
	transform: rotate(90deg);
  }
  
  /* Rotate On Hover When Checked */
  .menu-wrap .toggler:checked:hover + .hamburger > div {
	transform: rotate(225deg);
  }
  
  /* Show Menu */
  .menu-wrap .toggler:checked ~ .menu {
	visibility: visible;
  }
  
  .menu-wrap .toggler:checked ~ .menu > div {
	transform: scale(1);
	transition-duration: 0.75s;
  }
  
  .menu-wrap .toggler:checked ~ .menu > div > div {
	opacity: 1;
	transition:  opacity 0.4s ease 0.4s;
  }
  
  .menu-wrap .menu {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	visibility: hidden;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
  }
  
  .menu-wrap .menu > div {
	background: rgba(158, 147, 84 , 0.5); 
	border-radius: 50%;
	width: 200vw;
	height: 200vw;
	display: flex;
	flex: none;
	align-items: center;
	justify-content: center;
	transform: scale(0);
	transition: all 0.4s ease;
  }
  
  /* .menu-wrap .menu > div > div {
	text-align: center;
	max-width: 90vw;
	max-height: 100vh;
	opacity: 0;
	transition: opacity 0.4s ease;
  } */
  
  .menu-wrap .menu > div > div > ul > li {
	list-style: none;
	color: #fff;
	font-size: 1.5rem;
	padding: 1rem;
  }
  
  .menu-wrap .menu > div > div > ul > li > a {
	color: inherit;
	text-decoration: none;
	transition: color 0.4s ease;
  }
  

  
  /*=====================Slider========================*/
  
  .slider {
	position: relative;
	overflow: hidden;
	height: 100vh;
	width: 100vw;
  }
  
  .slide {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: opacity 0.4s ease-in-out;
  }
  
  .slide.current {
	opacity: 1;
  }
  .slide .slContent {
	position: absolute;
	bottom: 200px;
	left: -500px;
	opacity: 0;
	color: white;
	padding: 35px;
  }
  
  .slide .slContent h1 {
	margin-bottom: 10px;
	font-size: 5vw;
	text-shadow: 5px 5px 5px #000000;
  }
  .slide .slContent h2 {
	margin-bottom: 10px;
	font-size: 3vw;
	text-shadow: 2px 2px 8px #000000;

  }
  @media (max-width: 590px){
	.slContent h1 {
		font-size: 30px;
	}
  }
  .slide.current .slContent {
	opacity: 1;
	transform: translateX(600px);
	transition: all 0.7s ease-in-out 0.3s;
  }

  .buttons button#next {
	position: absolute;
	top: 40%;
	right: 55px;
  }
  
  .buttons button#prev {
	position: absolute;
	top: 40%;
	left: 55px;
  }
  .buttons button {
	border: none;
  }

  .bodyContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 8%;
}  
  /*-----------------title----------------*/
.title {
	text-align: center;
	padding: 50px 8%;
}

.title span {
	color: #9e9354;
}
  /*-----------------Footer----------------*/
.site-footer {
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373; 
}
.site-footer hr{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small {
  margin:20px 0
}
.site-footer h6 {
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a {
  color:#737373;
}
.site-footer a:hover {
  color:#3366cc;
  text-decoration:none;
}
.footer-links {
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]{
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons {
    text-align:center
  }
}
.social-icons {
  padding-left:0;
  margin-bottom:0;
  list-style:none
  
}
.social-icons li {
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title {
  margin-right:15px;
  text-transform:uppercase;
  /* color:#96a2b2; */
  font-weight:700;
  font-size:13px
}
@media (max-width:767px) {
  .social-icons li.title{
    display:block;
    margin-right:0;
    font-weight:600
  }
}

.social-icons a{
  background-color:#eceeef;
  /* color:blueviolet; */
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a
{
  color:#fff;
  /* background-color:#040505 */
}
.social-icons.size-sm a {
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook {
  background-color:#3b5998
}

.social-icons a.travelagenciesfinder {
	background-color: #79a0ee;
}

.social-icons a.linkedin {
  background-color:#007bb6
}
.social-icons a.instagram {
  background-color:#ea4c89
}
.social-icons a.youtube {
	background-color:#FF0000
  }
.phone {
	color: #9e9354;
}
.envelope {
	color: #9e9354;
}

/*=====================pictures====================*/

.gallery {
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
}
.gallery img {
    width: 100%;
}

/*--------------------Media Queries-------------------*/

 
@media only screen and (min-width: 900px) {

	#header .burger {
		display: none;
	}
	.menu-wrap {
		display: none;
	}
}
@media (max-width: 899px){
	.navigation {
		display: none;
	}
	.header {
		display: block;
		margin: 0 auto;
		width: 100%;
		max-width: 100%;
		box-shadow: none;
		background-color: white;
		position: fixed;
		height: 60px!important;
		overflow: hidden;
		z-index: 10;
	}

}

    
  /*---------Backgorund Images---------*/
   
  .slide:first-child {
    background:  url('https://upload.wikimedia.org/wikipedia/commons/1/1a/Parthenon_night_view.jpg') no-repeat 
	  center top/cover;
  }
  .slide:nth-child(2) {
	background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('https://upload.wikimedia.org/wikipedia/commons/b/b7/0028MAN-Room3.jpg') no-repeat
	  center top/cover;
  }
  .slide:nth-child(3) {
	background: url('https://upload.wikimedia.org/wikipedia/commons/a/ad/Temple_of_Poseidon_-_Sounion.jpg') no-repeat
	  center top/cover;
  }
  .slide:nth-child(4) {
	background: url('https://upload.wikimedia.org/wikipedia/commons/3/33/Acropolis_Museum_-_panoramio.jpg') no-repeat
	  center top/cover;
  }
  .slide:nth-child(5) {
	background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('https://upload.wikimedia.org/wikipedia/commons/0/0c/Hephaistos_Temple.JPG') no-repeat
	  center top/cover;
  } 
  .slide:nth-child(6)  {
	background: url('https://upload.wikimedia.org/wikipedia/commons/c/cb/Kouros%2Csphinx.jpg') no-repeat
	  center center/cover;
  }  

  /*--------profile---------*/

  .profile {
	background-image: linear-gradient(rgba(255,255,255,.7), rgba(255,255,255,.7)), url(static/images/13.jpg) ;
	background-repeat:no-repeat;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
	background-position:center;
	padding:45px 0 50px;
  }
  .profile img {
	filter: grayscale(100%);
	width: 70%;
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
	border-radius: 20%;
	margin-bottom: 20px;
  }
  @media only screen and (max-width: 799px){
	.profile img {
		width: 100%;
	}
  }
  .profile img:hover {
	filter: grayscale(0%);
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
	cursor: pointer;
  }
  .profile p{
	color: black;
 
}
  /*--------tours---------*/
  .tours {
	background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url(static/images/13.jpg) ;
	background-repeat:no-repeat;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
	background-position:center;
	padding:45px 0 50px;
  }
  .tours h4, p{
	color: white;
  }

